/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

.image__resize {
  position: relative;
  display: flex;
  justify-content: center;
}

.image__resize > img {
  width: 80%;
  object-fit: cover;
}
