<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#chevron"></use>
</svg>

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/icon_sprite.svg#clock"></use>
  </svg>
</span>

<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#computer"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#easy"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#growth"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#line"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#menu"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#quotes"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#search"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#settings"></use>
</svg>
<svg class="icon">
  <use xlink:href="images/icon_sprite.svg#snap"></use>
</svg>
<svg class="icon">
  <use xlink:href="#images/icon_sprite.svgtick"></use>
</svg>
<svg class="icon">
  <use xlink:href="#images/icon_sprite.svgwordpress"></use>
</svg>
